body {
  padding: 0;
  margin: 0;
}

/* {
  border: 1px solid black;
}*/
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
}

.nav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav button {
  padding: 25px 50px;
  margin: 10px;
  border: none;
}

.boards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 15px;

  width: 700px;
  height: 450px;

  overflow-x: hidden;
  overflow-y: auto;

  border: 1px solid black;
}

.board {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;

  width: 150px;
  height: 300px;
}

.board div {
  flex: 25%;
  box-sizing: border-box;
  border: 1px solid black;
}

.selected {
  background-color: red;
}

.boards-container {
  display: flex;

  justify-content: center;
}

.boards-div {
  border: 1px solid black;
}

.playDiv {
  display: flex;
  justify-content: center;
}

.boards {
  text-align: center;
}

.boards-heading {
  margin: 25px;
}

.boards-selector {
  margin: 25px;
}

.lotto-heading {
  font-size: 2.5rem;
  margin: 5px;
}

.lotto-draw {
  text-align: center;
}

.lotto-draw-heading {
  margin: 45px;
}

.lotto-draw-btns {
  margin: 45px;
}

.lotto-draw-btns button {
  padding: 15px 32px;
  margin: 10px;
  border: none;
}
