body {
  padding: 0;
  margin: 0;
}

/* {
  border: 1px solid black;
}*/
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}

.nav {
  display: flex;
  justify-content: space-around;

}

.nav-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav button {
  padding: 14px 28px;
  margin: 15px;
  border: none;
 

}

.boards {
  height: 100%;
  width: 50%;
  margin: auto;
  text-align: center;

}


.boards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  width: 100%;
  height: 250px;

  overflow-x: hidden;
  overflow-y: auto;

  border: 1px solid black;
}

.board {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;

  width: 150px;
  height: 300px;
}

.board div {
  flex: 25%;
  box-sizing: border-box;
  border: 1px solid black;
}

.selected {
  background-color: red;
}

.boards-div {
  border: 1px solid black;
}

.playDiv {
  display: flex;
  justify-content: center;
}

.boards-heading {
  margin: 25px;
}

.boards-selector {
  margin: 25px;
}

.lotto-heading {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
}

.lotto-draw {
  width: 100vw;
  height: 100vh;
  text-align: center;
 
}

.lotto-draw-heading {
  margin: 45px;
}

.lotto-draw-btns {
  margin: 45px;
}

.lotto-draw-btns button {
  padding: 15px 32px;
  margin: 10px;
  border: none;
}
.lotto-draw-results {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.balls-div {
  display: flex;
  padding: 25px;
}

.ball {
  width: 50px;
  height: 50px;

  margin: 15px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 2px 2px 10px gray;
}

.red {
  background-image: radial-gradient(rgb(255, 199, 199), rgb(255, 78, 78), red);
}

.yellow {
  background-image: radial-gradient(
    rgb(255, 255, 165),
    rgb(255, 255, 88),
    yellow
  );
}

.green {
  background-image: radial-gradient(rgb(109, 255, 109), rgb(0, 206, 0), green);
}

.blue {
  background-image: radial-gradient(rgb(156, 156, 255), rgb(60, 60, 255), blue);
}


form {
  border: 3px solid #f1f1f1;
  padding: 50px;
  width: 35%;
}


form input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


form input[type=submit]{
  background-color: gray;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

